.register__bg {
  width: 100vw;
  height: 100vh;
}

.register__brand {
  position: absolute;
  left: 15%;
  top: 45vh;
}

.register__brand > img {
  position: relative;
  width: 50px;
  top: -10px;
}

.register__content {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 50vw;
  height: 100vh;
}

.behance___mini {
  width: 18px;
  position: relative;
  top: -2px;
}

.signup__form > label {
  font-weight: 400;
  font-size: 0.9rem;
  position: relative;
  top: 10px;
}

.signup__form > input,
select {
  background-color: white !important;
  border-bottom: 1px ridge rgba(128, 128, 128, 0.151) !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.home__input[type="text"] {
  background: url(/src/Image/search.png) no-repeat scroll 7px 7px;
  background-size: 25px;
  padding-left: 35px;
  width: 500px !important;
}

.google__logo {
  width: 18px;
  position: relative;
  top: -1px;
}
.fb {
  background-color: rgba(89, 55, 238, 0.904);
}

.signin__hr::after,
.signin__hr::before {
  content: "__________________________________";
  position: relative;
  top: -6px;
  padding: 5px;
  color: rgba(128, 128, 128, 0.335);
}

.navbar-brand {
  position: relative;
  top: -4px;
}

.home__search {
  margin-top: -20px;
}

.home__search-icon {
  position: relative;
  color: gray;
  top: 32px;
  left: 10px;
}

.adobe__logo {
  width: 20px;
}

.cool-link::after {
  content: "";
  display: block;
  position: relative;
  top: 12px;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.active::after {
  width: 100%;
}

.cool-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.input___field:focus {
  border-bottom: 1px blue !important;
  border-bottom-width: medium !important;
  border-style: ridge !important;
}

.d-lggg-none{
    display: none;
}

.navbar-expand-lgg{
    /* flex-flow: row wrap; */
    display: flex;
    flex-flow: row;    
}

.nav-links{
    counter-reset: black !important;
}

@media only screen and (max-width: 1025px) {
  .register__content {
    width: 100vw;
  }

  .d-lgg-none {
    display: none;
  }

  .d-lggg-none{
    display: block;
}

  .empty__div {
    height: 100vh !important;
  }

  .navbar-nav {
    position: relative;
    top: -30px;
    left: -1025px;
    transition: left 0.5s;
  }

  .nav__top {
    position: relative;
    top: -0px !important;
    left: 0px !important;
    font-size: 20px;
  }

  .navbar-nav > div {
    display: block !important;
    position: relative;
    top: 20px;
    left: -20px;
  }

  .cool-link::after {
    content: "";
    display: block;
    position: relative;
    top: -25px;
    left: -12px;
    width: 0;
    height: 25px;
    background: #000;
    transition: width 0.3s;
  }
  .active::after {
    width: 4px;
  }
  .cool-link:hover::after {
    width: 4px;
    transition: width 0.3s;
  }

  .nav-link {
    padding: 0;
    margin: 0;
  }

  .nav__center > div {
    display: none !important;
  }

  .navbar-expand-lgg{
    display: block; 
  }

  .nav__right > div{
      margin-top: 10px;
  }
}
