input[type=text]  {
    background: url(/src/Image/search.png) no-repeat scroll 7px 7px;
    background-size: 25px;
    padding-left: 35px;
    width: 500px !important;
}

.bad{
    position: relative;
    border: 2px solid white;
    top: -10px;
}

.page___signin{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
  
.google_logo{
    background: url(/src/Image/google_logo.png) no-repeat 26% 12px;
    background-color: white;
    background-size: 20px;
    width: 100%;
    padding: 10px;
}
.facebook_logo{
    background: url(/src/Image/facebook_logo.png) no-repeat 26% 12px;
    background-color: rgba(89, 55, 238, 0.904);
    background-size: 20px;
    width: 100%;
    padding: 10px;
}
.apple_logo:nt{
    background: url(/src/Image/apple_logo.png) no-repeat 26% 12px;
    background-color: rgb(0, 0, 0);
    background-size: 20px;
    width: 100%;
    padding: 10px;
}

.input___field:focus{
    border-bottom: 2px blue;
    border-bottom-width: medium;
    border-style: ridge;
}
